<!-- Launch file for yolov5 -->
<launch>
    <arg name="config_path" default="/home/hk/code/yolo_trt_ws/config/config.yaml" />
    <arg name="input_topic" default="/tztek/camera1"/>

    <node pkg="yolov5" type="yolov5" name="yolov5" output="screen">
        <param name="config_path" value="$(arg config_path)"/>
        <param name="input_topic" value="$(arg input_topic)"/>
    </node>
</launch>